.logo {
    height: 31px;
    margin: 0px 24px;
    float: left;
    color: #fff;
}

#root,
#root > section {
    height: 100%;
}

.site-header {
    position: fixed;
    z-index: 1;
    width: 100%;
}

.site-content {
    padding: 24px 56px;
    margin-top: 64px;
}

.product-actions > *:not(:first-child),
.inventory-actions > *:not(:first-child) {
    margin: 16px 16px;
}

.ant-checkbox-wrapper + .ant-checkbox-wrapper {
    margin-left: 0px !important;
}

.home > div {
    padding-top: 24px;
}